.historique-container {
    background-color: #f8f9fc;
    min-height: 100vh;
    display: flex;
    height: 100vh;
  }
 

  
  .content {
    width: 100%;
  }
  
  .input {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn {
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-light {
    background-color: #f1f1f1;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: white;
  }
  
  .badge {
    background-color: white;
    color: black;
    padding: 2px 6px;
    border-radius: 50%;
    font-size: 12px;
  }
  
  table {
    width: 100%;
    border-spacing: 0;
  }
  
  th, td {
    text-align: left;
    padding: 12px;
  }
  
  th {
    background-color: #f1f1f1;
  }
  
  .bg-green-500 {
    background-color: green;
    padding: 6px;
    border-radius: 5px;
    color: white;
  }
  
  .bg-gray-400 {
    background-color: gray;
    padding: 6px;
    border-radius: 5px;
    color: white;
  }
  .bg-red-400{
    background-color: red;
    padding: 6px;
    border-radius: 5px;
    color: white;
  }
  .bg-orange-400{
    background-color: orange;
    padding: 6px;
    border-radius: 5px;
    color: white;
  }
 .bg-blue-500{
    background-color: blue;
    padding: 6px;
    border-radius: 5px;
    color: white;
 }
 .bg-yellow-400{
    background-color: yellowgreen;
    padding: 6px;
    border-radius: 5px;
    color: white;
 }
 .pagination {
    margin-top: 20px;
    text-align: center;
    align-items: center;
  }
  
  .pagination button {
    background: #6c63ff;
    color: white;
    border: none;
    padding: 8px 12px;
    margin: 3px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .pagination button.active {
    background: #3c34a5;
  }
  
  /* .search-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px; 
    margin-bottom: 10px;
  }
  
  .search-container .input {
    width: 250px;
  }
  
  .search-container input[type="date"] {
    width: 150px;
  } */
  /*  */
  .search-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
   
    width: 100%;
    max-width: 300px; /* Ajuste la largeur si nécessaire */
  }
  
  .search-container input {
    width: 100%;
    justify-content: flex-end;
    padding-left: 35px; /* Espace pour l'icône */
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 40px;
  }
  
  .search-container i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
    font-size: 16px;
  }
  
  