<div class="sidebar">
  <!-- Logo -->
  <div class="d-flex align-items-center mb-4 logo-container">
      <div class="logo bg-white text-primary rounded-circle d-flex align-items-center justify-content-center">
          <img src="assets/copy.png" alt="Logo" class="logo">
      </div>
      
  </div>

  <!-- Menu -->
  <ul class="nav flex-column sidebar-menu">
      <li class="nav-item">
          <a class="nav-link text-white" href="/dashboard-etudiant" routerLinkActive="active">
              <i class="bi bi-house-door"></i> Dashboard
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link text-white" href="/depot" routerLinkActive="active">
              <i class="fas fa-upload"></i> Dépôt
          </a>
      </li>
  </ul>

  <!-- Déconnexion -->
  <div class="logout-section">
      <button class="btn text-white"><i class="bi bi-box-arrow-left"></i> Déconnexion</button>
  </div>
</div>
