<div class="sidebar">
  <!-- Logo -->
  <div class="d-flex align-items-center mb-4 logo-container">
      <div class="logo ">
          <img src="assets/s.png" alt="Logo" class="logoi">
      </div>
      
  </div>

  <!-- Menu -->
  <ul class="nav flex-column sidebar-menu">
      <li class="nav-item">
          <a class="nav-link" href="/dashboard-etudiant" [class.active]="currentRoute === '/dashboard-etudiant'">
              <i class="bi bi-house-door"></i> Dashboard
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link " href="/depot" [class.active]="currentRoute === '/depot'">
              <i class="fas fa-upload"></i> Dépôt
          </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/modifprofile" [class.active]="currentRoute === '/modifprofile'">
            <i class="bi bi-person"></i> Mon Profil
        </a>
    </li>
  </ul>

  <!-- Déconnexion -->
  <div class="logout-section">
      <button class="btn text-white" (click)="logout()"><i class="bi bi-box-arrow-left"></i> Déconnexion</button>
  </div>
</div>
