/* Sidebar */
.sidebar {
  width: 250px;
  background: #4D44B5;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligner les éléments en haut */
  height: 100vh;
  
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1000; /* pour rester au-dessus du contenu */
}


/* Logo et nom */
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30%;
}

.logo h3 {
  margin: 0;
  font-size: 22px;
}

.logo img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Navigation */
.nav {
  width: 100%;
}

.nav-item {
  width: 100%;
}

.nav-link {
  color: white;
  font-size: 22px;
  padding: 15px 15px;
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 100%;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
  right: 0;
}

.nav-link i {
  font-size: 18px;
  margin-right: 10px;
}

.nav-link:hover {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

/* Bouton de déconnexion */
.logout-section {
  margin-top: auto;
  background: none;
  border: none;
  color: #e3e3e3;
  font-size: 25px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
}

.logout-section i {
  margin-right: 10px;
  font-size: 18px;
}

.logout-section:hover {
  color: #ffffff;
}

/* Style pour l'élément actif */
/* Style du menu actif */
.nav-link.active {
  background: #ffffff;
  color: #4c3fad;
  font-weight: bold;
}