<div class="form-container">
    <h2 class="form-title">Inscription</h2>
  
    <form [formGroup]="userForm" (ngSubmit)="submitForm()">
        <div>
          <label>Prénom *</label>
          <input type="text" formControlName="prenom">
          <span *ngIf="userForm.get('prenom')?.invalid && userForm.get('prenom')?.touched">
            Prénom obligatoire (2 caractères minimum).
          </span>
        </div>
      
        <div>
          <label>Nom *</label>
          <input type="text" formControlName="nom">
          <span *ngIf="userForm.get('nom')?.invalid && userForm.get('nom')?.touched">
            Nom obligatoire (2 caractères minimum).
          </span>
        </div>
      
        <div>
          <label>Email *</label>
          <input type="email" formControlName="email">
          <span *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched">
            Email invalide.
          </span>
        </div>
      
        <div>
          <label>Téléphone *</label>
          <input type="text" formControlName="telephone">
          <span *ngIf="userForm.get('telephone')?.invalid && userForm.get('telephone')?.touched">
            Numéro invalide (doit commencer par 70, 75, 76, 77 ou 78 et avoir 9 chiffres).
          </span>
        </div>
      
        <div>
          <label>Rôle *</label>
          <select formControlName="role">
            <option value="">Sélectionner un rôle</option>
            <option value="etudiant">Étudiant</option>
            <option value="vigile">Vigile</option>
            <option value="admin">Admin</option>
          </select>
          <span *ngIf="userForm.get('role')?.invalid && userForm.get('role')?.touched">
            Sélectionnez un rôle.
          </span>
        </div>
      
        <button type="submit" [disabled]="userForm.invalid">Valider</button>
      </form>
  </div>
