<div class="form-container">
  <h2 class="form-title">Inscription</h2>

  <form [formGroup]="userForm" (ngSubmit)="submitForm()">
    <div class="form-group">
      <!-- Nom et Prénom -->
      <div class="input-group">
        <div class="input-item">
          <label>Prénom *</label>
          <input type="text" formControlName="prenom" (input)="checkField('prenom')">
          <span class="error" *ngIf="errors.prenom">
            {{ errors.prenom }}
          </span>
        </div>
  
        <div class="input-item">
          <label>Nom *</label>
          <input type="text" formControlName="nom" (input)="checkField('nom')">
          <span class="error" *ngIf="errors.nom">
            {{ errors.nom }}
          </span>
        </div>
      </div>
  
      <!-- Email et Téléphone -->
      <div class="input-group">
        <div class="input-item">
          <label>Email *</label>
          <input type="email" formControlName="email" (input)="checkField('email')">
          <span class="error" *ngIf="errors.email">
            {{ errors.email }}
          </span>
        </div>
  
        <div class="input-item">
          <label>Téléphone *</label>
          <input type="text" formControlName="telephone" (input)="checkField('telephone')">
          <span class="error" *ngIf="errors.telephone">
            {{ errors.telephone }}
          </span>
        </div>
      </div>
  
      <!-- Sélection du rôle -->
      <div class="input-group">
        <div class="input-item full-width">
          <label>Rôle *</label>
          <select formControlName="role" (change)="checkField('role')">
            <option value="">Sélectionner un rôle</option>
            <option value="etudiant">Étudiant</option>
            <option value="vigile">Vigile</option>
            <option value="admin">Admin</option>
          </select>
          <span class="error" *ngIf="errors.role">
            {{ errors.role }}
          </span>
        </div>
      </div>
  
      <!-- Champs spécifiques pour Étudiant -->
      <div *ngIf="selectedRole === 'etudiant'">
        <div class="input-group">
          <div class="input-item">
            <label>Numéro de Dossier *</label>
            <input type="text" formControlName="numero_de_dossier" (input)="checkField('numero_de_dossier')">
            <span class="error" *ngIf="errors.numero_de_dossier">{{ errors.numero_de_dossier }}</span>
          </div>
          <div class="input-item">
            <label>Chambre *</label>
            <input type="text" formControlName="chambre" (input)="checkField('chambre')">
            <span class="error" *ngIf="errors.chambre">{{ errors.chambre }}</span>
          </div>
        </div>
  
        <div class="input-group">
          <!-- <div class="input-item">
            <label>Campus *</label>
            <input type="text" formControlName="campus">
            <span class="error" *ngIf="userForm.get('campus')?.invalid && userForm.get('campus')?.touched">
              Campus obligatoire.
            </span>
          </div> -->
          <div class="input-item">
            <label>Photo</label>
            <input type="file" formControlName="photo">
          </div>
        </div>
      </div>
  
      <!-- Champs spécifiques pour Vigile -->
      <div *ngIf="selectedRole === 'vigile'">
        <div class="input-group">
          <div class="input-item full-width">
            <label>Lieu *</label>
            <select formControlName="lieu">
              <option value="">Sélectionner un lieu</option>
              <option value="site_vcn">Site VCN</option>
              <option value="restaurant">Restaurant</option>
            </select>
            <!-- <input type="text" formControlName="lieu"> -->
            <span class="error" *ngIf="userForm.get('lieu')?.invalid && userForm.get('lieu')?.touched">
              Lieu obligatoire.
            </span>
          </div>
        </div>
      </div>
  
      <!-- Boutons -->
      <div class="button-group">
        <button type="submit" [disabled]="userForm.invalid">Valider</button>
        <button type="button" (click)="close()">Annuler</button>
      </div>
    </div>
  </form>


<!-- Modal Bootstrap -->
<div class="modal fade" id="inscriptionModal" tabindex="-1" aria-labelledby="inscriptionModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="inscriptionModalLabel">{{ modalTitle }}</h5>
        <button type="button" class="btn-close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        {{ modalMessage }}
      </div>
      <div class="modal-footer">
       
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Fermer</button>
      </div>
    </div>
  </div>
</div>
