/* Style général */
.container {
    
    min-height: 100vh;
    background-color: #f3f4f6;
}

.test{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    background-color: white;
}

/* Image à gauche */
.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image-container img {
    max-width: 100%;
    height: 98vh;
    object-fit: cover;
}

/* Formulaire à droite */
.form-container {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 50vh;
    padding-right: 20px;
    padding-left: 20px;
}

.form-box {
    width: 100%;
    /* max-width: 400px; */
    padding: 20px;
    height: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    background: white;
    text-align: center;
}

/* Champs du formulaire */
.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    bottom: 9px;
}

/* Mot de passe avec bouton d'affichage */
.password-group {
    position: relative;
}

.password-group i {
    position: absolute;
    right: 10px;
    top: 65%;
    background: none;
    border: none;
    cursor: pointer;
}

/* Bouton de connexion */
.submit-btn {
    width: 30%;
    padding: 10px;
    background: rgba(77, 68, 181, 1);
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.submit-btn:hover {
    background: #0056b3;
}

/* Pied de formulaire */
.form-footer {
    margin-bottom: 10px;
    text-align: right;
}

.form-footer a {
    color: rgba(77, 68, 181, 1);
    text-decoration: none;
}

h2{
    color: rgba(77, 68, 181, 1);
}

.form-footer a:hover {
    text-decoration: underline;
}

/* Lien pour s'inscrire */
.register-link {
    margin-top: 15px;
    font-size: 18px;
}

.register-link a {
    color: rgba(77, 68, 181, 1);
    text-decoration: none;
}
