.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f3f4f6; /* Gris clair */
}

.card {
    /* display: flex; 
    flex-direction: row;  */
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
    max-height: 900px;
    /* max-width: 900px; */
    width: 100%;
}

.card-image {
    width: 20%;
    background-size: cover;
    background-position: center;
}

.card-content {
    width: 100%;
    padding: 3rem;
    margin-top: 20px;
}


h1 {
    font-size: 40px;
    font-weight: bold;
    color: black;
}

p {
    color: #666;
    font-size: 25px;
    margin-bottom: 100px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

button[type="submit"] {
    background: #4f46e5;
    color: white;
    border: none;
}

button[type="submit"]:disabled {
    background: #a5b4fc;
    cursor: not-allowed;
}

.back-btn {
    background: white;
    border: 1px solid #ccc;
}

.back-btn:hover {
    background: #f3f4f6;
}
