<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="reset-password-card d-flex shadow">
      <!-- Image à gauche -->
      <div class="image-section">
        <img src="assets/image.png" alt="Security" class="img-fluid">
      </div>
  
      <!-- Formulaire à droite -->
      <div *ngIf="!isResetSuccessful" class="form-section p-4" >
        <h1 class="fw-bold">Réinitialiser le mot de passe</h1>
        <p class="text-muted">Choisissez un nouveau mot de passe pour votre compte</p>

        <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
        <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
  
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
          <div class="mb-3 position-relative">
            <input [type]="newPasswordVisible ? 'text' : 'password'" formControlName="newPassword" class="form-control" placeholder="Votre nouveau mot de passe">
            <i class="eye-icon bi" [ngClass]="newPasswordVisible ? 'bi-eye-slash position-absolute' : 'bi-eye position-absolute'" (click)="toggleNewPasswordVisibility()"></i>
          </div>
          <div *ngIf="changePasswordForm.errors?.['mismatch'] && changePasswordForm.get('confirmPassword')?.touched" class="text-danger">
            <div *ngIf="changePasswordForm.get('newPassword')?.errors?.['required']">Le mot de passe est requis.</div>
            <div *ngIf="changePasswordForm.get('newPassword')?.errors?.['minlength']">Le mot de passe doit contenir au moins 8 caractères.</div>
            <div *ngIf="changePasswordForm.get('newPassword')?.errors?.['pattern']">Le mot de passe doit contenir au moins une lettre majuscule, une lettre minuscule, un chiffre et un caractère spécial.</div>
          </div>
  
          <div class="mb-3 position-relative">
            <input [type]="confirmPasswordVisible ? 'text' : 'password'" formControlName="confirmPassword" class="form-control" placeholder="Confirmer le nouveau mot de passe">
            <i class="eye-icon bi" [ngClass]="confirmPasswordVisible ? 'bi-eye-slash position-absolute' : 'bi-eye position-absolute'" (click)="toggleConfirmPasswordVisibility()"></i>
          </div>
          
  
          <button type="submit" class="btn btn-primary w-100" [disabled]="changePasswordForm.invalid">Réinitialiser le mot de passe</button>
          <button class="btn btn-outline-dark w-100 mt-2" (click)="navigateToLogin()">Retour à la page de connexion</button>
        </form>
      </div>

      <!-- Message de succès -->
    <div *ngIf="isResetSuccessful" class="success-card p-4 text-center">
      <img src="assets/success.png" alt="">
      <h2 class="fw-bold">Mot de passe réinitialisé avec succès</h2>
      <p class="text-muted">Votre mot de passe a été réinitialisé avec succès. Vous pouvez maintenant vous connecter avec votre nouveau mot de passe.</p>
      <button class="btns" (click)="navigateToLogin()">Se connecter</button>
    </div>
    </div>
  </div>
  