<div class="form-container">
    <h2 class="form-title">Modification</h2>
  
    <form [formGroup]="userForm" (ngSubmit)="submitForm()">
        <div>
          <label>Prénom *</label>
          <input type="text" formControlName="prenom">
        </div>
      
        <div>
          <label>Nom *</label>
          <input type="text" formControlName="nom">
        </div>
      
        <div>
          <label>Email *</label>
          <input type="email" formControlName="email">
        </div>
      
        <div>
          <label>Téléphone *</label>
          <input type="text" formControlName="telephone">
        </div>
      
        <div>
          <label>Rôle *</label>
          <select formControlName="role">
            <option value="etudiant">Étudiant</option>
            <option value="vigile">Vigile</option>
            <option value="admin">Admin</option>
          </select>
        </div>

        <!-- Affichage conditionnel selon le rôle -->
        <div *ngIf="userForm.get('role')?.value === 'etudiant'">
            <label>Numéro de Dossier *</label>
            <input type="text" formControlName="numeroDossier">
            <label>Photo</label>
            <input type="file" formControlName="photo">
        </div>

        <div *ngIf="userForm.get('role')?.value === 'vigile'">
            <label>Lieu *</label>
            <input type="text" formControlName="lieu">
        </div>

        <div class="button-group">
            <button type="submit">Valider</button>
            <button type="button" (click)="annuler()">Annuler</button>
        </div>
    </form>
</div>
