<div class="sidebar">
    <div class="brand">
     <!--  <img src="assets/image.png" alt="Logo" class="logo"> -->
      <h3>Akademi</h3>
    </div>
    <ul class="nav flex-column">
      <li class="nav-item"><a href="/dashboard" class="nav-link active"><i class="bi bi-house-door"></i> Dashboard</a></li>
      <li class="nav-item"> <a href="/user" class="nav-link"><i class="bi bi-people"></i> Utilisateurs</a>
      </li>
      <li class="nav-item"><a href="/historique" class="nav-link"><i class="bi bi-clock-history"></i> Historique</a></li>
    </ul>
    <a href="#" class="logout" (click)="logout()">
        <i class="bi bi-box-arrow-left"></i> Déconnexion
      </a>
      
  </div>