<div class="sidebar">
    <div class="brand">
       <img src="assets/s.png" alt="Logo" class="logo"> 
     
    </div>
    <ul class="nav flex-column">
      <li class="nav-item"><a href="/dashboard" class="nav-link" [class.active]="currentRoute === '/dashboard'"><i class="bi bi-house-door"></i> Dashboard</a></li>
      <li class="nav-item"> <a href="/user" class="nav-link" [class.active]="currentRoute === '/user'"><i class="bi bi-people"></i> Utilisateurs</a>
      </li>
      <li class="nav-item"><a href="/historique" class="nav-link" [class.active]="currentRoute === '/historique'"><i class="bi bi-clock-history"></i> Historique</a></li>
    </ul>
    <button class="logout" (click)="logout()">
        <i class="bi bi-box-arrow-left"></i> Déconnexion
    </button>
      
  </div>