.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center; /* Centre le texte et les éléments */
  width: 400px; /* Ajuste la largeur du modal */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-content img {
  display: block;
  margin: 20px auto; /* Centre l'image horizontalement */
  width: 150px; /* Ajuste la taille de l'image */
  height: auto;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}
