<div class="container">
    <div class="card">

        <!-- Section Image -->
        <div class="card-image" >
            <img src="assets/image.png" alt="Mot de passe oublié" class="h-full object-cover">
        </div>

        <!-- Section Formulaire -->
        <div class="card-content">
            <h1><b>Mot de passe oublié ?</b></h1>
            <p>Saisissez l'adresse électronique que vous avez utilisée pour créer votre compte afin que nous puissions vous envoyer des instructions sur la manière de réinitialiser votre mot de passe.</p>

            <br/>
            <br/>
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                
                <input id="email" type="email" formControlName="email" placeholder="Email" required>
                <span *ngIf="email?.invalid && email?.touched" class="text-red-500 text-sm">
                    L'email est requis et doit être valide.
                </span>

                <button type="submit" [disabled]="forgotPasswordForm.invalid">Envoyer</button>
            </form>

            <button (click)="goBack()" class="back-btn">Retour à la page de connexion</button>
        </div>
    </div>
</div>
