<div class="dashboard-container">
    <div class="top-bar d-flex justify-content-between align-items-center px-4 py-2">
      <h5 class="text-white">DASHBOARD VIGILE</h5>
      <button (click)="logout()" class="btn btn-danger btn-sm">Déconnexion</button>
    </div>
  
    <div class="container-fluid mt-3">
      <div class="row">
        <!-- Section Météo -->
        <div class="col-md-6" hight="1000px">
          <div class="weather-card p-4">
            <div class="d-flex justify-content-between">
              <span><i class="bi bi-geo-alt"></i> Fatick, Sénégal</span>
              <button class="btn btn-light btn-sm">°C</button>
            </div>
            <h1 class="mt-3">Mercredi</h1>
            <p class="text-muted">23 Janvier 2025</p>
            <div class="d-flex align-items-center justify-content-center" widht="100%">
              <img src="assets/rain.png" alt="Rain" width="400">
              <h2 class="mx-3">28°C</h2>
              <small class="text-muted">/24°C</small>
            </div>
            <p class="text-muted">Pluie Abondante</p>
          </div>
        </div>
  
        <!-- Section Scan Carte -->
        <div class="col-md-6 text-center">
          <div class="scan-card p-4">
            <img src="assets/Vigile_img.png" alt="Scanner" class="img-fluid" >
            <h5 class="text-danger mt-3">Veuillez scanner votre carte !</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  